/* summary */


/* 1. fonts & body */


/* 2. text */


/* 3. dark/light mode */


/* 4. mouse cursor */


/* 5. background */


/* 6. loading page */


/* 7. nav bar */


/* 8. header */


/* 9. fade in animation */


/* 10. about section */


/* 11. projects, navigation */


/* 12. project page */


/* 13. footer */


/* 14. responsive (1280, 1024, 768) */


/* fonts */


/* DM Sans, sans-serif */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    height: 100%;
    position: relative;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}


/* text */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 2rem;
}

h6 {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 200;
}

nav {
    display: flex;
    position: absolute;
    top: 0;
}

.imgNav {
    width: 50vw;
}

.imgNav img {
    width: 7vw;
}

.navTxt {
    width: 50vw;
}

.navTxt ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navTxt ul li {
    color: white;
}

.imgBackground {
    width: 100vw;
    height: 100vh;
}

.mainTitle {
    color: white;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    font-size: 1.5rem;
}

main {
    max-width: 80vw;
    margin: auto;
    ;
}

.stats {
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats div {
    text-align: center;
    font-size: 1rem;
}

.number1 {
    color: #EC3F7D;
    font-size: 2.5rem;
    font-weight: 600;
}

.number2 {
    color: #E7D31B;
    font-size: 2.5rem;
    font-weight: 600;
}

.number3 {
    color: #3DCCFA;
    font-size: 2.5rem;
    font-weight: 600;
}

.number4 {
    color: #10DCB7;
    font-size: 2.5rem;
    font-weight: 600;
}

.mmiGeneral {
    margin-top: 20vw;
}

.purple {
    color: #903DFA;
}

button {
    color: white;
    border: none;
    background-color: #903DFA;
    padding: 1vw;
    border-radius: 10px;
}

.competences {
    margin-top: 20vw;
}

.skillsTitle {
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills div {
    margin-top: 5vh;
}

.skillName {
    font-size: 1.2rem;
    text-align: center;
}

.skillTxt {
    max-width: 25vw;
    text-align: center;
}

.parcours {
    margin-top: 20vw;
}

.parcoursTitle {
    text-align: center;
}

.course {
    display: flex;
    justify-content: space-around;
}

.parcourName {
    font-size: 1.2rem;
    text-align: center;
}

.parcourTxt {
    max-width: 30vw;
    text-align: center;
}

.actu {
    margin-top: 20vw;
}

.actuTitle {
    text-align: center;
}

#tictac {
    display: flex;
    justify-content: center;
    color: red;
}

.temoignages {
    margin-top: 20vw;
}

.testimonyTitle {
    text-align: center;
}

footer {
    color: white;
    background-color: black;
}

.footer {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5vh;
}

.footerTitle {
    font-size: 1.2rem;
}

.footerTxt {
    max-width: 20vw;
}

.bottomFooter {
    display: flex;
    justify-content: space-around;
}

.pageTitle {
    color: white;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10vw;
    text-align: center;
    z-index: 10;
    font-size: 1.5rem;
}

.content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: #F7D043;
}

.pagesSecondTitle {
    text-align: center;
}

.pagesSecondTitle div {
    text-align: center;
    font-size: 1rem;
    width: 40vw;
}

.seeMore {
    text-align: center;
}

.blue {
    color: #3DCCFA;
}

.blueBackground {
    background-color: #3DCCFA;
}

.pageContent {
    margin-top: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pageContentImg {
    width: 20vw;
    color: white;
    padding: 1vw;
    border-radius: 10px;
    border: none;
}

.pageContentTxt {
    width: 30vw;
}

.pink {
    color: #EC3F7D;
}

.pinkBackground {
    background-color: #EC3F7D;
}