/* summary */

/* 1. fonts & body */
/* 2. text */
/* 3. dark/light mode */
/* 4. mouse cursor */
/* 5. background */
/* 6. loading page */
/* 7. nav bar */
/* 8. header */
/* 9. fade in animation */
/* 10. about section */
/* 11. projects, navigation */
/* 12. project page */
/* 13. footer */
/* 14. responsive (1280, 1024, 768) */


/* fonts */


/* DM Sans, sans-serif */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-black: #0a0a0a;
    --color-white: #f5f5f5;
}

/* dark/light mode */

body.dark {
    --color-white: #0a0a0a;
    --color-black: #f5f5f5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-color: white;
}


/* text */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 2rem;
}

h6 {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 200;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:visited,
a:focus {
    color: initial;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    position: relative;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 4rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainTitle {
    background-image: url('medias/imgBackground.jpg');
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    top: 0;
    width: 100%;
    mix-blend-mode: difference;
    color: white !important;
    padding: 1rem 2rem;
}

/* quand la nav n'est pas en viewport : la cacher */

[data-scroll] {
    transition: opacity 0.5s;
}


[data-scroll="out"] {
    opacity: 0;
}

/* [data-scroll="in"] {
    opacity: 1;
} */


/* au scroll top montrer la nav */
[data-scroll-dir-y="-1"] .navbar {
    opacity: 1;
    /* visibility: visible; */
    /* transition: visibility 2s; */
    /* transition: opacity 0.9s; */
}

.navLinks ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
}

.navLinks ul li {
    color: white;
}


.menu {
    position: relative;
    height: 14px;
    width: 20px;
    display: none;
    /* filter: contrast(0); */
    cursor: pointer;
}

.menu-link {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hamburger-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.hamburger-bar {
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s ease-in-out;
}

.hamburger-bar-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.hamburger-bar-3 {
    bottom: 0;
}

.menu.open .hamburger-bar-1 {
    transform: translateY(7px) translateY(-50%) rotate(45deg);
}

.menu.open .hamburger-bar-2 {
    opacity: 0;
}

.menu.open .hamburger-bar-3 {
    transform: translateY(-7px) translateY(50%) rotate(-45deg);
}

.menu-overlay {
    z-index: 100;
    padding-right: 2rem;
    background-color: white;
    color: black;
    text-align: end;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (min-width:1024px) {
    .menu-overlay {
        display: none;
        opacity: 0;
    }
}

.menu-overlay .one li {
    line-height: 4rem;
    font-size: 2.7rem;
}

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.navbar li,
.menu-overlay li {
    font-size: 0.8rem;
    line-height: 1.6rem;
    text-align: end;
    text-transform: uppercase;
}

.categorie {
    padding: 1rem;
}


.imgBackground {
    width: 100vw;
    height: 100vh;
}

.mainTitle {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    font-size: 1.5rem;
}

main {
    max-width: 80%;
    margin: auto;
}

.stats {
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats div {
    text-align: center;
    font-size: 1rem;
}

.number1 {
    color: #EC3F7D;
    font-size: 2.5rem;
    font-weight: 600;
}

.number2 {
    color: #E7D31B;
    font-size: 2.5rem;
    font-weight: 600;
}

.number3 {
    color: #3DCCFA;
    font-size: 2.5rem;
    font-weight: 600;
}

.number4 {
    color: #10DCB7;
    font-size: 2.5rem;
    font-weight: 600;
}

.mmiGeneral {
    margin-top: 20vw;
}

.purple {
    color: #903DFA;
}

button {
    color: white;
    border: none;
    background-color: #903DFA;
    padding: 1vw;
    border-radius: 10px;
}

.competences {
    margin-top: 20vw;
}

.skillsTitle {
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills div {
    margin-top: 5vh;
}

.skillName {
    font-size: 1.2rem;
    text-align: center;
}

.skillTxt {
    max-width: 25vw;
    text-align: center;
}

.parcours {
    margin-top: 20vw;
}

.parcoursTitle {
    text-align: center;
}

.course {
    display: flex;
    justify-content: space-around;
}

.parcourName {
    font-size: 1.2rem;
    text-align: center;
}

.parcourTxt {
    max-width: 30vw;
    text-align: center;
}

.actu {
    margin-top: 20vw;
}

.actuTitle {
    text-align: center;
}

#tictac {
    display: flex;
    justify-content: center;
    color: red;
}

.temoignages {
    margin-top: 20vw;
}

.testimonyTitle {
    text-align: center;
}

footer {
    width: 100%;
    padding: 5rem 15%;
    color: white;
    background-color: rgb(35, 35, 35);
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 2rem;
}

.footer ul {
    line-height: 1.7rem;
}

.map {
    height: 100%;
    width: 40%;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.footer .socials {
    mix-blend-mode: screen;
}

.credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.international {
    background-image: url('medias/international.png');
}

.content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: #F7D043;
}

.pagesSecondTitle {
    text-align: center;
}

.pagesSecondTitle div {
    text-align: center;
    font-size: 1rem;
    width: 40vw;
}

.seeMore {
    text-align: center;
}

.blue {
    color: #3DCCFA;
}

.blueBackground {
    background-color: #3DCCFA;
}

.pageContent {
    margin-top: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pageContentImg {
    width: 20vw;
    color: white;
    padding: 1vw;
    border-radius: 10px;
    border: none;
}

.pageContentTxt {
    width: 30vw;
}

.pink {
    color: #EC3F7D;
}

.pinkBackground {
    background-color: #EC3F7D;
}


/* -------------SLIDER PAS TOUCHER SVP :)---------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------------------------ */






/* responsive */

@media screen and (max-width:1280px) {
    footer {
        padding: 5rem 8%;
    }
}

@media screen and (max-width:1024px) {
    .navLinks ul {
        display: none;
    }

    .menu {
        display: block;
    }

    .navLinks ul {
        display: none;
        transition: all 0.2s ease;
    }

}

/* fin responsive */